body {
    background: #e7e7e7;
    padding: 20px 0;
}

ul {
    border: 1px solid #dcdcdc;
    padding: 0;
}

li {
    list-style: none;
    overflow: auto;
    padding: 10px;
}

li:nth-child(odd) {
    background: #f4f4f4;
}

li img {
    float: left;
    margin-right: 10px;
    max-height: 120px;
}
li h2 {
    font-size: 22px;
}
li h3 {
    font-size: 19px;
}


label {
  margin-right: 10px;
}
select {
  width: 25%;
}
